<div id="top_bar">
  	<div id="logout_btn">logout</div>
 	<div id="mypage_btn" onclick="javascript:location.href='/mypage'">mypage</div>
</div>
<% if( URL.indexOf('main') > 0 ){ %>
	<div id="title_main" onclick="javascript:location.href='/main'">
  		<img src="/images/icon_black.png" width="80px" height="100px" style="margin-right:10px;margin-bottom:10px;"></img>
  		<img src="/images/title.png" width="500px" height="70px"></img>
  	</div>
<% }else{ %>
	<div class="detail_top" onclick="javascript:location.href='/main'">
	  	<img src="/images/icon_black.png" width="50px" height="70px" style="margin-right:10px;margin-bottom:10px;"></img>
	  	<img src="/images/title.png" width="400px" height="55px"></img>
	</div>
<% } %>



  		