<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
  
  <script>
	$(document).ready(function(){
		$(".detail_box").css("height", $("body").height() - $(".detail_title").height() - $("#top_bar").height() - 130 -60);
		$(".detail_main").css("height", $(".detail_box").height() - $(".write_btn").height() - 50 );
	});
  </script>
  
  	<div id="container_detail">
  		<div id="top_bar">
  			<div id="logout_btn">logout</div>
  			<div id="mypage_btn">mypage</div>
  		</div>
  		<div class="detail_top">
  			<img src="/images/icon_black.png" width="50px" height="70px" style="margin-right:10px;margin-bottom:10px;"></img>
  			<img src="/images/title.png" width="400px" height="55px"></img>
  		</div>
  		
  		<div class="detail">
	  		<div class="detail_title">
	  			<img src="/images/board_title.png" width="250px" height="60px"></img>
	  		</div>
	  		<div class="detail_box">
	  			<div style="display:table;width:100%;background-color:#dc7d39;">
	  				<img class="write_btn" src="/images/write_btn.png"></img>
	  			</div>
	  			<div class="detail_main" >
	  				<table class='table_style' id="board_list">
	  					<tr class ='table_top'>
	  						<td>ID</td><td>DATE</td><td>DESTINATION</td><td>PRICE</td><td>number<br>of comment</td>
	  					</tr>
	  					<tr class ='table_row'>
	  						<td>ID</td><td>DATE</td><td>DESTINATION</td><td>PRICE</td><td>number<br>of comment</td>
	  					</tr>
	  				</table>
	  			</div>
	  		</div>
	  	</div>
  	</div>
    
  </body>
</html>