<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
  
  <script>
	$(document).ready(function(){
		//$(".detail_box").css("height", $("body").height() - $(".detail_title").height() - $("#top_bar").height() - 130 -60);
		//$(".detail_main").css("height", $(".detail_box").height() - $(".write_btn").height() - 50 );
		
		$(".write_btn").click(function(){
			location.href="/board_write";
		});
		$("#ct_guide").click(function(){
			
		});
		
		$("#ct_stay").click(function(){
			
		});
		$(".board_form").mouseover(function(){
			var bd_id=$(this).attr("id");
			$("#"+bd_id).css("background-image","url(/images/listbox_backgrn_mouseon.png)");
		}).mouseout(function(){
			var bd_id=$(this).attr("id");
			$("#"+bd_id).css("background-image","url(/images/listbox_backgrn.png)");
		}).click(function(){
			$("#ct_list").hide();$("#board_category").hide();$("#board_select").hide();
			$("#bd_list_detail").show();
			$("#rv_cnt_place").css("width",$("#detail_rv_form").width() - $("#rv_img_place").width() - $("#rv_btn_place").width() - 180);
			
		});
		
		$("#bd_dt_id, #bd_dt_area, #bd_dt_title, #bd_dt_date, #bd_dt_dst, #bd_dt_price").css({"width":"80%","display":"table","font-size":"18px","margin":"25px 0px"});
		$("#bd_dt_cnt").css({"width":"90%","display":"table-cell","font-size":"18px","margin":"25px 0px"});
		
	});
  </script>
  
  	<div id="container_detail">
  		
  		<% include /ejs/page_sametop %>
  		<div class="detail">
	  		<div class="detail_title">
	  			<img src="/images/board_title.png" width="250px" height="60px"></img>
	  		</div>
	  		<div class="detail_box">
	  			<div style="display:table;height:40px;width:100%;background-color:#dc7d39;">
	  			</div>
	  			<div class="detail_main" style="margin-bottom:70px;background:rgba(255,255,255,0.5);" >
	  				<div id="board_category">
	  					<img id="ct_guide" src="/images/guide_btn.png" >
	  					<img id="ct_stay" src="/images/stay_btn.png" >
	  					<img class="write_btn" src="/images/write_btn.png"></img>
	  				</div>
	  				<div id="board_select">
	  					<div style="position:absolute;right:23px;top:5px;margin:20px 0px;">
		  					<% include /ejs/country_selector %>
		  					<img id="board_search" src="/images/search_btn.png" width="100px" height="30px">
	  					</div>
	  				</div>
	  				<div id="bd_list_detail">
	  					<div id="bd_detail_ct">
	  						<img id="ct_guide" style="float:right;"src="/images/guide_btn.png" >
	  						<div id="edit_btn">Edit</div>
	  					</div>
	  					<div id="bd_detail_cnt">
	  						<img id="info_photo" style="position:absolute;right:20px;top:20px;" src="/images/noImg.png"/>
	  						<div id="bd_dt_id">ID : </div>
	  						<div id="bd_dt_area">Area :</div>
	  						<div id="bd_dt_title">TITLE : </div>
	  						<div id="bd_dt_date">DATE : </div>
	  						<div id="bd_dt_dst">DESTINATION : </div>
	  						<div id="bd_dt_price">PRICE : </div>
	  						<div style="font-size:18px;display:table-cell">CONTENT : </div><div id="bd_dt_cnt" style="height:65px;"></div>
	  					</div>
	  					<div id="bd_detail_rv">
	  						<div id="cmt_ment">COMMENT</div>
	  						<div id="detail_rv_form">
	  							<div id="rv_img_place">
	  								<div id="img"></div>
	  								<div id="rv_id">gkgkgk</div>
	  							</div>
	  							<div id="rv_cnt_place">
	  								<TEXTAREA type="text" ROWS="4" style="width:100%;height:100px;" placeholder=" "></TEXTAREA>
	  							</div>
	  							<div id="rv_bnt_place">
	  								<div class='rv_btn' id="rv_upload_btn">Upload</div>
	  								<div class='rv_btn' id="rv_edit_btn">Edit</div>
	  								<div class='rv_btn' id="rb_delete_btn">Delete</div>
	  							</div>
	  						</div>
	  						
	  					</div>
	  					
	  				</div>
	  				<div id="ct_list">
	  					<div class="board_form" id="bd_1">
	  						<div id="bd_num">23</div>
	  						<div class="bd_txt" id="bd_id">ID :</div>
	  						<div class="bd_txt" id="bd_title">TITLE : </div>
	  						<div class="bd_txt" id="bd_data">DATA : </div>
	  						<div class="bd_txt" id="bd_dst">DESTINATION : </div>
	  						<div class="bd_txt" id="bd_price">PRICE : </div>
	  						<div class="bd_txt" id="bd_ctt">CONTENT :</div>
	  					</div>
	  					<div class="board_form" id="bd_2">
	  						<div id="bd_num">23</div>
	  						<div class="bd_txt" id="bd_id">ID :</div>
	  						<div class="bd_txt" id="bd_title">TITLE : </div>
	  						<div class="bd_txt" id="bd_data">DATA : </div>
	  						<div class="bd_txt" id="bd_dst">DESTINATION : </div>
	  						<div class="bd_txt" id="bd_price">PRICE : </div>
	  						<div class="bd_txt" id="bd_ctt">CONTENT :</div>
	  					</div>
	  					<div class="board_form" id="bd_3">
	  						<div id="bd_num">23</div>
	  						<div class="bd_txt" id="bd_id">ID :</div>
	  						<div class="bd_txt" id="bd_title">TITLE : </div>
	  						<div class="bd_txt" id="bd_data">DATA : </div>
	  						<div class="bd_txt" id="bd_dst">DESTINATION : </div>
	  						<div class="bd_txt" id="bd_price">PRICE : </div>
	  						<div class="bd_txt" id="bd_ctt">CONTENT :</div>
	  					</div>
	  					
	  					<div class="ct_list_num">[1]</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
    
  </body>
</html>