<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<div id="container">
	  	<div id="title"></div>
	  	<div id="login_join">
	  		<div id="icon"></div>
	  		<div>
	  			<input type="text" class="form"></input>
	  			<input type="text" class="form"></input>
	  		</div>
	  		<div style="position:relative;top:120px;width:295px;margin:0 auto;">
	  			<div id="join_btn"></div>
	  			<div id="login_btn"></div>
	  		</div>
	  	</div>
	  	
  	</div>
  </body>
</html>
