<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
  
  <script>
	$(document).ready(function(){
		$(".detail_box").css("height", $("body").height() - $(".detail_title").height() - $("#top_bar").height() - 130 -60);
		$(".detail_main").css("height", $(".detail_box").height() - $(".write_btn").height() - 50 );
	});
  </script>
  
  	<div id="container_detail">
  		<% include /ejs/page_sametop %>
  		<div class="detail">
	  		<div class="detail_title">
	  			<img src="/images/msg_btn.png" width="320px" height="70px"></img>
	  		</div>
	  		<div class="detail_box">
	  			<div style="display:table;width:100%;background-color:#8a8649;">
	  				<img class="write_btn" src="/images/msg_write_btn.png"></img>
	  			</div>
	  			<div class="detail_main" style="background:rgba(224,220,204,0.5);">
	  				
	  			</div>
	  		</div>
	  	</div>
  	</div>
    
  </body>
</html>