<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
  
  <script>
  
	$(document).ready(function(){
		$(".detail_box").css("height", $("body").height() - $(".detail_title").height() - $("#top_bar").height() - 130 -60);
		$(".detail_main").css("height", $(".detail_box").height() - $(".write_btn").height() - 50 );
		$("#chat_place").css("width",$("#talk_container").width() - $("#chat_mbr").width() - 40);
		$("#chat_place").css("height", $("#talk_container").height() - $("#msg_cnt").height() -20);
		$("#chat_mbr").css("height",$("#chat_place").height());
		$("#chat_mbr_list").css("height",$("#chat_mbr").height() - $("#chat_mbr_title").height() -24);
		$("#msg_cnt").css("width",$("#talk_container").width() - $("#msg_send").width() - 20);
	
		$("#msg_send").click(function(){
			var msg = $("#msg_cnt").val();
			$("#msg_cnt").val("");
			$("#chat_place").append("<div>"+msg+"</div>");
		});
	});
  </script>
  
  	<div id="container_detail">
  		<div id="top_bar">
  			<div id="logout_btn">logout</div>
  			<div id="mypage_btn">mypage</div>
  		</div>
  		<div class="detail_top">
  			<img src="/images/icon_black.png" width="50px" height="70px" style="margin-right:10px;margin-bottom:10px;"></img>
  			<img src="/images/title.png" width="400px" height="55px"></img>
  		</div>
  		
  		<div class="detail">
	  		<div class="detail_title">
	  			<img src="/images/talk_title.png" width="200px" height="70px"></img>
	  		</div>
	  		<div class="detail_box">
	  			<div style="display:table;width:100%;background-color:#a39b36;">
	  				<img class="write_btn" src="/images/msg_write_btn.png"></img>
	  			</div>
	  			<div class="detail_main" style="background:rgba(231,227,204,0.5);">
	  				<div id="talk_container">
	  					<div style="width:100%;margin-bottom:10px;">
		  					<div id="chat_place"></div>
		  					<div id="chat_mbr">
		  						<div id="chat_mbr_title">Concurrent Users <span>[0]</span></div>
								<div id="chat_mbr_list"></div>	  					
		  					</div>
	  					</div>
	  					<div style="display:table;">
		  					<input type="text" id="msg_cnt">
		  					<div id="msg_send"><div>
		  				</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
    
  </body>
</html>